In [5]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [8]:
def fillna(df):
    df['Age'].fillna(df['Age'].mean(), inplace=True)
    df['Cabin'].fillna('N', inplace = True)
    df['Embarked'].fillna('N', inplace = True)
    df['Fare'].fillna(0, inplace = True)
    return df


def drop_features(df):
    #df.drop(['PassengerId', 'Name', 'Ticket'], axis = 1, inplace = True) #axis = 0행, axis = 1열
    df.drop(columns = ['PassengerId', 'Name', 'Ticket'], inplace = True) #위와 같은 결과, axis를 안쓰는 방법
    return df


def format_features(df):
    from sklearn.preprocessing import LabelEncoder
    df['Cabin'] = df['Cabin'].str[:1] #str은 슬라이싱과 인덱스가 가능 str[0] = str[:1]
    features = ['Cabin', 'Sex', 'Embarked']
    for feature in features:
        le = LabelEncoder()
        le = le.fit(df[feature])
        df[feature] = le.transform(df[feature])
    return df


# 함수 만들어진것을 차례대로 실행하는 함수
def transfrom_features(df):
    df = fillna(df)
    df = drop_features(df)
    df = format_features(df)
    return df

In [9]:
df = pd.read_csv('titanic_train.csv')
fillna(df).head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,N,S